# Make Sublime the default editor; use vim if unavailable
if [[ `uname` == Darwin && `command -v subl` ]]; then
	export EDITOR="/usr/local/bin/subl -w";
else
	export EDITOR="/usr/bin/vim"
fi

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

export INPUTRC="${HOME}/.inputrc"

export DOTFILES="${HOME}/dotfiles"

# path to IDE .app file
export IDE_APP="/Applications/PyCharm.app"

# path to IDE prefs
export IDE_CONFIG_PATH="${HOME}/Library/Preferences/PyCharm40"

# path to IDE launcher executable
if [[ -e ${HOME}/bin/charm ]]; then
	export IDE="${HOME}/bin/charm"
else
	export IDE="/usr/local/bin/charm"
fi

